.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 16px;
  align-self: center;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbb;
  -webkit-transition: .3s;
  transition: .3s;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: -2px;
  bottom: -4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  border: 3px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

input:checked + .slider {
  background-color: #1976d2;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

input:focus + .slider {
  box-shadow: 0 0 4px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  border-color: #1976d2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.slider:hover:before {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}