:root {
    --blurValueAmount: 10px;
    --filterStrength: blur(var(--blurValueAmount));
}

img {
    filter: var(--filterStrength) !important;
    -webkit-filter: var(--filterStrength) !important;
    -ms-filter: var(--filterStrength) !important;
}

img.noblur {
    filter: none !important;
    -webkit-filter: none !important;
    -ms-filter: none !important;
}

img.blur {
    filter: var(--filterStrength) !important;
    -webkit-filter: var(--filterStrength) !important;
    -ms-filter: var(--filterStrength) !important;
    pointer-events: none;
    cursor: default;
}
