:root {
    --filrerNum: 12px;
    --filterStrength: blur(var(--filrerNum));
}

img {
    filter: var(--filterStrength);
    -webkit-filter: var(--filterStrength);
    -ms-filter: var(--filterStrength);
}

img.noblur {
    filter: none;
    -webkit-filter: none;
    -ms-filter: none;
}

img.blur {
    filter: var(--filterStrength);
    -webkit-filter: var(--filterStrength);
    -ms-filter: var(--filterStrength);
}