.customLook{
  --tag-bg                  : #1976d2;
  --tag-hover               : #2196F3;
  --tag-text-color          : #FFF;
  --tags-border-color       : silver;
  --tag-text-color--edit    : #111;
  --tag-remove-bg           : var(--tag-hover);
  --tag-pad                 : .6em 1em;
  --tag-inset-shadow-size   : 1.3em;
  --tag-remove-btn-bg--hover: black;

  display: inline-block;
  min-width: 0;
  border: none;
}

.customLook .tagify__tag{
  margin-top: 0;
  transition: transform 0.2s ease;
}

.customLook .tagify__tag:hover {
  transform: translateY(-2px);
}

.customLook .tagify__tag > div{
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0.6em 1em;
  position: relative;
}

.customLook .tagify__tag__text {
  flex: 1;
  text-align: center;
  width: 100%;
}

/* Do not show the "remove tag" (x) button when only a single tag remains */
.customLook .tagify__tag:only-of-type .tagify__tag__removeBtn{
  display: none;
}

.customLook .tagify__tag__removeBtn{
  opacity: 0;
  transform: translateX(-6px) scale(.5);
  margin-left: -3ch;
  transition: .12s;
}

.customLook .tagify__tag:hover .tagify__tag__removeBtn{
  transform: none;
  opacity: 1;
  margin-left: -1ch;
}

.customLook + button{
  color: #1976d2;
  font: bold 1.4em/1.65 Arial;
  border: 0;
  background: none;
  box-shadow: 0 0 0 2px inset currentColor;
  border-radius: 50%;
  width: 1.65em;
  height: 1.65em;
  cursor: pointer;
  outline: none;
  transition: .1s ease-out;
  margin: 0 0 0 5px;
  vertical-align: top;
}

.customLook + button:hover{
  box-shadow: 0 0 0 5px inset currentColor;
  transform: scale(1.05);
}

.customLook + button:active{
  transform: scale(0.95);
}

.customLook .tagify__input{
  display: none;
}