body {
    background-color: rgb(210, 250, 250)
}

h1 {
    color: #00447c
}

.btn-group input {
    background-color: rgb(96, 181, 221);
    border: 1px solid rgb(10, 34, 168);
    color: white;
    padding: 10px 24px;
    margin-bottom: 4px;
    cursor: pointer;
    float: left;
    width: 100%;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group input:not(:last-child) {
    border-right: none;
}

.btn-group input:hover {
    background-color: #136fb9;
}