img {
    filter: blur(12px);
    -webkit-filter: blur(12px);
    -ms-filter: blur(12px);
}
img.noblur {
    filter: none;
    -webkit-filter: none;
    -ms-filter: none;
}
img.blur {
    filter: blur(12px);
    -webkit-filter: blur(12px);
    -ms-filter: blur(12px);
}
